![tower bridge](london.jpg)

London, or as the Romans called it "Londonium"! Home to [over 8.5 million residents](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/populationandhouseholdestimatesenglandandwales/census2021unroundeddata#population-and-household-estimates-england-and-wales-data) who speak over [300 languages](https://web.archive.org/web/20080924084621/http://www.cilt.org.uk/faqs/langspoken.htm). While the City of London is a little over one square mile (hence its nickname "The Square Mile"), Greater London has grown to encompass 32 boroughs spanning a total area of 606 square miles! 

![underground train leaving a platform](tube.jpg)

Given the city's roads were originally designed for horse and cart, this area and population growth has required the development of an efficient public transport system! Since the year 2000, this has been through the local government body called **Transport for London**, or *TfL*, which is managed by the London Mayor's office. Their remit covers the London Underground, Overground, Docklands Light Railway (DLR), buses, trams, river services (clipper and [Emirates Airline cable car](https://en.wikipedia.org/wiki/London_cable_car)), roads, and even taxis.

The Mayor of London's office make their data available to the public [here](https://data.london.gov.uk/dataset). In this project, I worked with a slightly modified version of a dataset containing information about public transport journey volume by transport type. 

The data has been loaded into a **PostgreSQL** database called `tfl` with a single table called `journeys`, including the following data:

## tfl.journeys

| Column | Definition | Data type |
|--------|------------|-----------|
| `month`| Month in number format, e.g., `1` equals January | `INTEGER` |
| `year` | Year | `INTEGER` |
| `days` | Number of days in the given month | `INTEGER` |
| `report_date` | Date that the data was reported | `DATE` |
| `journey_type` | Method of transport used | `VARCHAR` |
| `journeys_millions` | Millions of journeys, measured in decimals | `FLOAT` |


In this project I am using SQL queries to answer three business asks:
- What are the most popular transport types, measured by the total number of journeys? The output should contain two columns, 1) journey_type and 2) total_journeys_millions, and be sorted by the second column in descending order.
- Which five months and years were the most popular for the Emirates Airline? Return an output containing month, year, and journeys_millions, with the latter rounded to two decimal places and aliased as rounded_journeys_millions. Exclude null values and order the results by 1) rounded_journeys_millions in descending order and 2) year in ascending order, saving the result as emirates_airline_popularity.
- Find the five years with the lowest volume of Underground & DLR journeys, saving as least_popular_years_tube. The results should contain the columns year, journey_type, and total_journeys_millions.

## Connecting to PostgresSQL database

In [1]:
# Import sqlalchemy library that will allows us to run sql queries in the notebook
import sqlalchemy

In [2]:
# Create a connection to PostgreSQL database
engine = sqlalchemy.create_engine('postgresql://postgres:@localhost:5432/postgres')

In [3]:
# Load sql extension to enable the notebook to use SQL commands directly within its cells. 
%load_ext sql

In [4]:
# Set the Jupyter notebook to execute SQL commands using the connection information provided by engine.url
%sql $engine.url

## Q1. What are the most popular transport types, measured by the total number of journeys?

In [5]:
%%sql
SELECT journey_type, 
SUM(journeys_millions) AS total_journeys_millions
FROM tfl.journeys
GROUP BY journey_type
ORDER BY total_journeys_millions DESC

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('Bus', 24905.193946989988),
 ('Underground & DLR', 15020.466543503997),
 ('Overground', 1666.8456664279),
 ('TfL Rail', 411.3134209833001),
 ('Tram', 314.6898754821),
 ('Emirates Airline', 14.58371757489999)]

Bus followed by Underground & DLR are the most popoular transport type. Emirates Cable Car is the least popular transport type.

## Q2. Which five months and years were the most popular for the Emirates Airline? Return an output containing month, year, and journeys_millions, with the latter rounded to two decimal places and aliased as rounded_journeys_millions. Exclude null values and order the results by 1) rounded_journeys_millions in descending order and 2) year in ascending order, saving the result as emirates_airline_popularity.

In [6]:
%%sql
SELECT month,
year,
ROUND(journeys_millions::Decimal, 2) AS rounded_journeys_millions
FROM tfl.journeys
WHERE journey_type = 'Emirates Airline' AND
journeys_millions IS NOT NULL
ORDER BY rounded_journeys_millions DESC, year
LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(5, 2012, Decimal('0.53')),
 (6, 2012, Decimal('0.38')),
 (4, 2012, Decimal('0.24')),
 (5, 2013, Decimal('0.19')),
 (5, 2015, Decimal('0.19'))]

May 2012 was the most popular time for the Emirates Airline

## Q3. Find the five years with the lowest volume of Underground & DLR journeys, saving as least_popular_years_tube. The results should contain the columns year, journey_type, and total_journeys_millions.

In [7]:
%%sql
SELECT year, 
journey_type,
SUM(journeys_millions) AS total_journeys_millions
FROM tfl.journeys
WHERE journey_type = 'Underground & DLR'
GROUP BY year, journey_type
ORDER BY total_journeys_millions
LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(2020, 'Underground & DLR', 310.179316314),
 (2021, 'Underground & DLR', 748.4525442),
 (2022, 'Underground & DLR', 1064.8590086),
 (2010, 'Underground & DLR', 1096.14558838),
 (2011, 'Underground & DLR', 1156.64765448)]

2020 & 2021 were the years with lowest travel. It can surely be attributed to the Covid outbreak.